#particles-js{
  background:no-repeat center center fixed #000000;

}

body{
  background: no-repeat center center fixed #000;
  text-align: center;
  color: #white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
